* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(84, 176, 204);
}

.box-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
}

.col-3 {
    color: black;
    width: 110px;
    height: 110px;
    background-color: rgb(166, 226, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: rgb(255, 48, 48);
}

.yellow {
    background-color: rgb(255, 255, 109);
}

.green {
    background-color: rgb(88, 223, 88);
}